#database files
db/

# macOS metadata
.DS_Store

# Python bytecode
__pycache__/

# Build/install artifacts
*.egg-info/
dist/
build/

# Jupyter notebooks (if you don’t want them tracked)
peaky_analyzer.ipynb
peaky_tester.ipynb

# Large result files
jobs/*.pkl

# Memory-mapped data
corpus_raw.dat
corpus_standardized.dat

# Internal docs
docs/moissanite_remote_setup.md